{# Set default hero class - 'o-hero' #}
{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}


<div class="o-hero-media{{ variation }}">

  <div class="o-hero-media__bg-decoration">
    {# it's a placeholder for background #}
  </div>

  {% if tabs is not empty or messages is not empty %}
    <div class="o-hero-media__tabs o-hero-media{% if variation %}{{ variation }}{% endif %}__tabs">
      {{ messages }}
      {{ tabs }}
    </div>
  {% endif %}

  {% if breadcrumbs is not empty and not is_front %}
    <div class="o-hero-media{{variation}}__breadcrumbs">
      {% if sb_demo %}
        {% include '@molecules/breadcrumbs/breadcrumbs.twig' with {
          bredcrumbs: breadcrumbs,
        } %}
      {% else %}
        {{ breadcrumbs }}
      {% endif %}
    </div>
  {% endif %}

  {% if image %}
    <div class="o-hero-media{{ variation }}__image">
      {% if image and variation == '--person' %}
        {{ image }}
      {% endif %}
    </div>
  {% endif %}

  <div class="o-hero-media{{ variation }}__text-wrapper">

    <div class="o-hero-media{{ variation }}__text">
      {% if title_prefix or title %}
        <h1 class="a-heading__h1">
          {% if title_prefix %}
            <span class='o-hero-media{{ variation }}__title-prefix'>
              {{ title_prefix }}
            </span>
          {% endif %}
          
          {% if title %}
            <span class='o-hero-media__title'>
              {{ title }} {% if prononun %} <span class="o-hero-media__pronoun">{{prononun}}</span>{% endif %}
            </span>
          {% endif %}
        </h1>
      {% endif %}

      {% if new_roles or title_suffix_faculty or title_suffix_staff or title_suffix_library or ensembles_choirs %}
        <div class="o-hero-media{{ variation }}__title-suffix">

          {% if new_roles %}
            {% for role in new_roles %}
              <div>{{ role }}</div>
            {% endfor %}
          {% endif %}

          <p>
            {% if title_suffix_staff %}{{ title_suffix_staff }}{% endif %}

            {% if title_suffix_staff and (title_suffix_faculty or title_suffix_library)%}{{- ','}} {% endif %}

            {% if title_suffix_faculty %}{{ title_suffix_faculty }}{% endif %}

            {% if title_suffix_faculty and title_suffix_library %}{{- ','}} {% endif %}

            {% if title_suffix_library %}{{ title_suffix_library }}{% endif %}
            
            <br>{% if ensembles_choirs %}{{ ensembles_choirs }}{% endif %}
          </p>
        </div>
      {% endif %}

      {% if areas %}
        <div class="o-hero-media{{variation}}__tags">
          {% for item in areas %}
            {% include '@atoms/chip/chip.twig' with {
                text: sb_demo ? item : item,
                html_element: 'div',
              } only 
            %}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% if variation == '--person-text' and (pronunciation or email or phone or discovery_url or website_url) %}
      <div class="o-hero-media--person-text__info-wrapper">
    {% endif %}

      {% if pronunciation or email or phone or discovery_url or website_url %}
        <div class="o-hero-media{{variation}}__info">
          
          {% if pronunciation %}
            <div class="o-hero-media__info-pronunciation">
              {{pronunciation}}
            </div>
          {% endif %}

          {% if email %}
            <div class="o-hero-media__info-mail">
              {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                  directory: directory,
                  icon: 'mail',
                } only 
              %}
              <a class="o-hero-media__info-link" href="mailto:{{email}}"{% if aria_mail %} aria-label="{{ aria_mail }}"{% endif %}>{{email}}</a>
            </div>
          {% endif %}

          {% if phone %}
            <div class="o-hero-media__info-phone">
              {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                  directory: directory,
                  icon: 'phone',
                } only 
              %}

              {# set validation for phone number  #}
              {% set phone_number = phone|replace({'-': '', '.': '', '(': '', ')': '', ' ': ''})|number_format|replace({',':'', }) %}

              {% if phone_number starts with '+' %}
                {% set phone_number = phone_number %}
              {% else %}
                {% set phone_number = '+1' ~ phone_number %}
              {% endif %}  

              <a class="o-hero-media__info-link" href="tel:{{phone_number}}"{% if aria_phone %} aria-label="{{ aria_phone }}"{% endif %}>{{phone}}</a>
            </div>
          {% endif %}

          {% if discovery_url %}
            <div class="o-hero-media__info-discovery">
              {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                  directory: directory,
                  icon: 'book-bulb',
                } only 
              %}
              <a class="o-hero-media__info-link" href="{{discovery_url}}"{% if aria_discovery %} aria-label="{{ aria_discovery }}"{% endif %}>
                {{ 'DiscoverResearch Profile'|t }}
              </a>
            </div>
          {% endif %}

          {% if website_url %}
            <div class="o-hero-media__info-website">
              {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                  directory: directory,
                  icon: 'interface_link_square',
                } only 
              %}
              <a class="o-hero-media__info-link" href="{{website_url}}" {% if website_url_is_external %}target="_blank"{% endif %} {% if aria_website %} aria-label="{{ aria_website }}"{% endif %}>
                {{website_url}}
              </a>
            </div>
          {% endif %}
          
        </div>
      {% endif %}

    {% if variation == '--person-text' and (pronunciation or email or phone or discovery_url or website_url) %}
      </div>
    {% endif %}

  </div>
</div>
