{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}


<div class="m-featured-media">
  {% if title %}
    <div class="m-featured-media__title">
      {% include "@atoms/text/headings/heading.twig" with {
          directory: directory,
          html_element: 'h2',
          appearance: 'h2',
          text: title,
        } only
      %}
    </div>
  {% endif %}

  {% if featured_media_items %}
  <div role="region" aria-label="{{ title }}" class="m-featured-media__items-wrapper">
   
    {# Check array if it has more than 1 item inside  #}
    {% if number_items > 0 %}
      {% if number_items > 1 %}
        <div class="m-featured-media{{ variation }}__items-next-btn">
          {% include "@atoms/button/button.twig" with {
              directory: directory,
              label: label,
              html_element: 'button',
              variation: 'icon',
              icon: 'circle-caret-right',
              url: '#',
              aria_label: "Next"|t,
              alignment: 'left',
            } only
          %}
        </div>
        <div class="m-featured-media{{ variation }}__items-prev-btn">
          {% include "@atoms/button/button.twig" with {
              directory: directory,
              label: label,
              html_element: 'button',
              variation: 'icon',
              icon: 'circle-caret-left',
              url: '#',
              aria_label: "Previous"|t,
              alignment: 'left',
            } only
          %}
        </div>
      {% endif %}

      <div class="m-featured-media__items" {% if number_items > 1 %} style="scroll-snap-type: x mandatory; overflow-x: scroll; overscroll-behavior-x: contain; scroll-behavior: smooth;" {% endif %}>
    {% else %}
      <div class="m-featured-media__single-item">
    {% endif %}

        {% for item in featured_media_items %}
          {% if item.video %}
            <div class="m-featured-media__item" aria-label="{{ item.caption }}" {% if loop.last %} id="last-item-media"{% endif %}  tabindex="0" >
              {% include '@atoms/videos/video.twig' with {
                  video_type: item.video_type,
                  video: item.video,
                  caption: item.video ? item.caption,
                } only 
              %}
            </div>

            {% if loop.index == 3 and loop.length > 3 %} 
              <a href="#last-item-media" class="u-visually--hidden visually-hidden focusable skip-link">
                {{ 'Skip to the last item'|t }}
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

    {% if number_items > 0 %}
      </div>
    {% else %}
      </div>
    {% endif %}

  </div>
  {% endif %}
</div>