{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

<div id = "{{ link_label|replace({' ': ''})|lower ~ '-' ~ item_id }}" class="m-sliding-item{{ variation }}">
  {% if image %}
    <div class="m-sliding-item{{ variation }}__image">
      {{ image }}
    </div>
  {% endif %}

  <div class="m-sliding-item{{ variation }}__image-gradient">
  </div>

  {% if link_url and link_label %}
    <div class="m-sliding-item{{ variation }}__link">
      {% include "@atoms/text/headings/heading.twig" with {
          html_element: 'h3',
          appearance: 'h5',
          text: link_label,
          url: link_url,
          id: id,
          alignment: 'left',
          aria_label: aria_label,
          directory: directory,
        } only
      %}
    </div>
  {% endif %}
</div>