{% if pl_class %}
  <div class="{{ pl_class }}">
{% endif %}

<div{{ attributes.addClass(classes).addClass('m-form-item--radio') }} data-states-for="{{ name }}">

  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {% if prefix is not empty %}
    <span class="m-form-item__prefix">{{ prefix }}</span>
  {% endif %}

  {% if children %}
    {{ children }}
  {% endif %}

  {% if suffix is not empty %}
    <span class="m-form-item__suffix">{{ suffix }}</span>
  {% endif %}

  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if errors %}
    <div class="m-form-item--error-message">
      {{ errors }}
    </div>
  {% endif %}

  {% if description.content %}
    <div{{ description.attributes.addClass('m-form-group__description') }}>{{ description.content }}</div>
  {% endif %}

</div>

{% if pl_class %}
  </div>
{% endif %}
