{% set variation = variation|default('') %}

{# We set variation to default for avoiding big class-names and better usage in css #}
{% set variation = variation == 'image-icon' ? '' : variation %}
{% set illustration_size = illustration_size|default('medium') %}
{% set title_position = title_position|default('below') %}
{% set title_appearance = title_appearance|default('h3') %}
{% set title_html_element = title_html_element|default('h2') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

{# url is coming for title #}
<div class="m-card{{ variation }} {% if card_decoration %}m-card--{{ card_decoration }}{% endif %}">
  {% if variation == '--illustration' %}
    {# Title #}
    {% if title %}
      {% if variation == '--illustration' and  title_position == 'above' %}
        {% set link_url_on_title = link_label ? false : link_url %}
        <div class="m-card{{ variation }}__title {{ title_position }}">
          {% include "@atoms/text/headings/heading.twig" with {
              html_element: title_html_element,
              appearance: title_appearance,
              text: title,
              url: link_url_on_title,
              id: id,
              alignment: 'center',
              directory: directory,
            } only
          %}
        </div>
      {% endif %}
    {% endif %}
    
    {% if illustration %}
      <div class="m-card__image-illustration">
        {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
          directory: directory,
          base_class: 'a-icon',
          icon_file_type: illustration_file_type,
          icon: illustration,
          size: illustration_size, 
          } only
        %}
      </div>
    {% endif %}
  {% else %}

    {% if variation == "--image" and title_position == 'above' %}
      {# Title #}
      {% if title %}
        {% set link_url_on_title = link_label ? false : link_url %}
        <div class="m-card{{ variation }}__title {{ title_position }}">
          {% include "@atoms/text/headings/heading.twig" with {
              html_element: title_html_element,
              appearance: title_appearance,
              text: title,
              url: link_url_on_title,
              id: id,
              alignment: 'center',
              directory: directory,
            } only
          %}
        </div>
      {% endif %}
    {% endif %}

    {% if image %}
      <div class="m-card{{ variation }}__image {{ title_position }}">
        {% include "@molecules/image/image.twig" with {
          directory: directory,
          image: image,
          variation: image_variation,
          icon_file_type: illustration_file_type,
          icon: illustration,
          icon_alignment: 'right',
          } only
        %}

      {# Title #}
      {% if title and title_position == 'highlight-below' %}

        {% set link_url_on_title = link_label ? false : link_url %}
        <div class="m-card{{ variation }}__title">
          {% include "@atoms/text/headings/heading.twig" with {
              html_element: title_html_element,
              appearance: title_appearance,
              text: title,
              url: link_url_on_title,
              id: id,
              alignment: 'center',
              directory: directory,
            } only
          %}
        </div>
      {% endif %}
      </div>
    {% endif %}
  {% endif %}

  <div class="m-card{{ variation }}__main">
    {# Title #}
    {% if title and title_position == 'below' %}

      {% set link_url_on_title = link_label ? false : link_url %}
      <div class="m-card{{ variation }}__title {{ title_position }}">
        {% include "@atoms/text/headings/heading.twig" with {
            html_element: title_html_element,
            appearance: title_appearance,
            text: title,
            url: link_url_on_title,
            id: id,
            alignment: 'center',
            directory: directory,
          } only
        %}
      </div>
    {% endif %}

    {% if description  %}
      <div class="m-card{{ variation }}__description">
        {{ description }}
      </div>
    {% endif %}

    {% if link_url and link_label %}
      <div class="m-card{{ variation }}__link">
        {% include '@atoms/button/button.twig' with {
            base_class: 'a-button',
            label: link_label,
            variation: '',
            html_element: 'a',
            url: link_url,
            aria_label: aria_label,
            alignment: 'center',
          } only
        %}
      </div>
    {% endif %}
  </div>
</div>