<nav role="navigation" aria-labelledby="system-breadcrumb" class="m-breadcrumbs__nav">
  <h2 class="visually-hidden" id="system-breadcrumb">{{ 'This is Demo of Breadcrumbs component with contros'|t }}</h2>
  
  <ol class="m-breadcrumbs">
    <li class="m-breadcrumbs__item">
      <a class="m-breadcrumbs__link" href="{{ item_url_1 }}">{{ item_text_1 }}</a>
    </li>
    
    {{ "&nbsp;/&nbsp;" }}

    <li class="m-breadcrumbs__item">
      <a class="m-breadcrumbs__link" href="{{ item_url_2 }}">{{ item_text_2 }}</a>
    </li>

    {{ "&nbsp;/&nbsp;" }}

    <li class="m-breadcrumbs__item">
      <a class="m-breadcrumbs__link" href="{{ item_url_3 }}">{{ item_text_3 }}</a>
    </li>

    {{ "&nbsp;/&nbsp;" }}

    <li class="m-breadcrumbs__item">
      <a class="m-breadcrumbs__link" href="{{ item_url_4 }}">{{ item_text_4 }}</a>
    </li>

  </ol>
</nav>
