{% if background is not empty %}
	{% set background = 'a-table--' ~ background %}
{% endif %}

{% if borders is not empty %}
	{% set borders = 'a-table--' ~ borders %}
{% endif %}

{% if mobile_table_display is not empty %}
	{% set mobile_table_display = 'a-table--' ~ mobile_table_display %}
{% endif %}

{% if sb_demo %}
	<table class="a-table{{ variation }}">
		{% if caption %}
			<caption>
				{{ caption }}
			</caption>
		{% endif %}

		{% if header is not empty %}
			<thead>
				<tr>
					{% for col in header %}
						<th scope="col">
							{{ col.title }}
						</th>
					{% endfor %}
				</tr>
			</thead>
		{% endif %}

		<tbody>
			{% for row in rows %}
				<tr>
					{% for col in row %}
						<td>
							{{ col.content }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<div class="a-table-wrapper {{ background }} {{ borders }} {{ mobile_table_display }}">
		{{ table }}
	</div>
{% endif %}
