<footer class="o-footer">
  <div class="o-footer__top">
    <div class="o-footer__top-container">

      <div class="o-footer__logo o-footer__logo--{{ lang }}">

        {% if lang == 'en' %}

          {% include "@molecules/logo/logo.twig" with {
              directory: directory,
              logo_icon: 'logo',
              logo_icon_size: logo_icon_size,
              logo_icon_color: logo_icon_size,
              logo_aria_label: 'UTMusic',

              url: front_page,
              site_name: site_name,
            } only
          %}

        {% elseif lang == 'fr' %}

          {% include "@molecules/logo/logo.twig" with {
              directory: directory,
              logo_icon: 'logo',
              logo_icon_size: logo_icon_size,
              logo_icon_color: logo_icon_size,
              logo_aria_label: "UTMusic FR",

              url: front_page,
              site_name: site_name,
            } only
          %}

        {% endif %}
      </div>

      <div class="o-footer__menu">
        {{ footer_menu }}
      </div>
    </div>
  </div>

  <div class="o-footer__bottom">
    
    <div class="o-footer__legal">
      {{ 'Copyright'|t }} &copy; {{ year }} {{ 'UTMusic. All Rights Reserved.'|t }}
    </div>

    {% if site_facebook or site_linkedin or site_twitter or site_youtube or site_instagram %}
      <div class="o-footer__social">

        {% if site_facebook %}
          {% include '@atoms/button/button.twig' with {
              directory: directory,
              variation: 'icon',
              html_element: 'a',
              target: "_blank",
              url: site_facebook|raw,
              aria_label: 'Follow us on Facebook'|t,
              icon: 'social-facebook'
            } only
          %}
        {% endif %}

        {% if site_linkedin %}
          {% include '@atoms/button/button.twig' with {
              directory: directory,
              variation: 'icon',
              html_element: 'a',
              target: "_blank",
              url: site_linkedin,
              aria_label: 'Follow us on LinkedIn'|t,
              icon: 'social-linkedin',
            } only
          %}
        {% endif %}

        {% if site_twitter %}
          {% include '@atoms/button/button.twig' with {
              directory: directory,
              variation: 'icon',
              html_element: 'a',
              url: site_twitter,
              target: "_blank",
              aria_label: 'Follow us on Twitter'|t,
              icon: 'social-twitter',
            } only
          %}
        {% endif %}

        {% if site_instagram %}
          {% include '@atoms/button/button.twig' with {
              directory: directory,
              variation: 'icon',
              html_element: 'a',
              url: site_instagram,
              target: "_blank",
              aria_label: 'Follow us on Instagram'|t,
              icon: 'social-instagram',
            } only
          %}
        {% endif %}

        {% if site_youtube %}
          {% include '@atoms/button/button.twig' with {
              directory: directory,
              variation: 'icon',
              html_element: 'a',
              url: site_youtube,
              target: "_blank",
              aria_label: 'Follow us on Youtube'|t,
              icon: 'social-youtube',
            } only
          %}
        {% endif %}

      </div>
    {% endif %}
  </div>

</footer>
