{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{# list of display names that should not display empty message when user is anonymous #}
{% set display_names = ['news_featured_item', 'news_summary_list_images', 'news_summary_list', 'events_summary_list_past', 'events_summary_list_upcoming', 'events_featured_item', 'job_listing_block'] %}

{% if view.current_display in display_names and rows is empty %}
    {% set empty_explanation = '<p style="font-style: italic;">Note: Empty lists are hidden from site visitors.</p>' %}
  {% if is_anonymous %}
    {% set hide_view = TRUE %}
  {% endif %}
{% endif %}

{% if not hide_view %}
  <div{{ attributes.addClass(classes) }}>
    {#  a11y aria for announcements after applying exposed filters  #}
    <div class="offscreen" aria-live='polite'></div>
    
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {% if header %}
      <header>
        {{ header }}
      </header>
    {% endif %}

    {{ exposed }}

    {{ attachment_before }}

    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
    
    {#  a11y aria for announcements after applying exposed filters  #}
      <div aria-live='polite'>
        {{ empty }}

        {% if empty_explanation %}
          {{ empty_explanation|raw }}
        {% endif %}
      </div>
    {% endif %}

    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {% if footer %}
      <footer>
        {{ footer }}
      </footer>
    {% endif %}

    {{ feed_icons }}
  </div>
{% endif %}