{# Set default listing-item class - 'm-listing-item' #}
{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

<div class="m-listing-item{{ variation }}{% if image %} has-img{% endif %}">

  {% if event_date_month or event_date_day %}
    <div class="m-listing-item{{ variation }}__event-date">
      <div class="m-listing-item{{ variation }}__event-date-month">
        {{ event_date_month }}
      </div>
      <div class="m-listing-item{{ variation }}__event-date-day">
        {{ event_date_day }}
      </div>
    </div>
  {% endif %}
  
  <div class="m-listing-item{{ variation }}__content {% if image %} has-img{% endif %}">

    <div>
      {#       
        {% if event_date or areas or ensemble %}
          <div class="m-listing-item{{ variation }}__category">
            {% if event_date %}
                {{- event_date -}}
            {% endif %}{% if event_date and (areas or ensemble) %}
              {{- ':' -}}
            {% endif %}

            {% for area in areas %}
              {{ area }}{% if not loop.last %},{% endif %}
            {% endfor %}
            {% if areas and ensemble %} {{ '|' }}{% endif %}
            {% if ensemble %}{{ ensemble }}{% endif %}
          </div>
        {% endif %} 
      #}

      <div class="m-listing-item{{ variation }}__title">
        {% include "@atoms/text/headings/heading.twig" with {
            directory: directory,
            html_element: 'h3',
            appearance: 'h3',
            text: title,
            url: url,          
          } only
        %}
      </div>
    </div>

    {# for condensed listing item and 'related' listing item #}
    {% if audience or event_type or price or event_date %} 
      <div class="m-listing-item{{ variation }}__category">
        {% if event_date %}
          {{- event_date -}}
        {% endif %}{% if event_date and (price or event_type or audience) %}
          {{ '|' }}
        {% endif %}

        {% if price == 'free' %}{{ 'Free'|t }}{% endif %}
        {# {% if (audience or event_type) and (price == 'free') %} {{ '|' }}{% endif %} #}
        {% if audience %}{{ audience }}{% endif %}
        {% if audience and event_type %} {{ '-' }}{% endif %}
        {% if event_type %}{{ event_type }}{% endif %}
      </div>
    {% endif %}

    {% if time_range or date_range or location_short or location_taxonomy %}
      <div class="m-listing-item{{ variation }}__tags">

        {% if date_range %}
          <div class="m-listing-item{{ variation }}__tags-single">
            {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
              directory: directory,
              base_class: 'a-icon',
              icon: 'calendar',
              size: 'xxsmall', 
              } only
            %}
            {{ date_range }}
          </div>
        {% else %}
          <div class="m-listing-item{{ variation }}__tags-single">
            {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
              directory: directory,
              base_class: 'a-icon',
              icon: 'time',
              size: 'xxsmall', 
              } only
            %}
            {{ time_range }}
          </div>
        {% endif %}

        {% if location_short or location_taxonomy %}
          <div class="m-listing-item{{ variation }}__tags-single">
            {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
              directory: directory,
              base_class: 'a-icon',
              icon: 'location',
              size: 'xxsmall', 
              } only
            %}
            {% if location_short %}
              {{ location_short }}
            {% else %}
              {{ location_taxonomy }}
            {% endif %}
          </div>
        {% endif %}

      </div>
    {% endif %}

    {% if summary %}
      <div class="m-listing-item{{ variation }}__summary">{{ summary }}</div>
    {% endif %}
    
  </div>

  {% if image %}
    <div class="m-listing-item{{ variation }}__img">
      {% include "@molecules/image/image.twig" with {
          image: image,
          variation: image_variation,
        } only
      %}
    </div>
  {% endif %}

</div>
