{# Set default listing-item class - 'm-listing-item' #}
{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

{# {% if sb_demo %}
  {% set directory = directory %}
{% else %}
  {% set directory =  'themes/utmusic' %}
{% endif %} #}


<div class="m-listing-item{{ variation }}">

  {% if media %}
    <div class="m-listing-item{{ variation }}__media">
      {% include "@molecules/image/image.twig" with {
          image: media,
        } only
      %}

      {% if event__date_month or event_date_day %}
        <div class="m-listing-item{{ variation }}__event-date">
          {% if event__date_month %}
            <div class="m-listing-item{{ variation }}__event-date-month">
              {{ event_date_month }}
            </div>
          {% endif %}

          {% if event_date_day %}
            <div class="m-listing-item{{ variation }}__event-date-day">
              {{ event_date_day }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if title %}
    <div class="m-listing-item{{ variation }}__title">
      {% include "@atoms/text/headings/heading.twig" with {
          html_element: 'h3',
          appearance: 'h3',
          text: title,
          url: url,
        } only
      %}
    </div>
  {% endif  %}
  
</div>
