{# Set default listing-item class - 'm-listing-item' #}
{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

<div class="m-listing-item{{ variation }}">
    
    {% if image %}
      <div class="m-listing-item{{ variation }}__img {% if sb_demo %}m-listing-item{{ variation }}__img-demo{% endif %}">
        {% include "@molecules/image/image.twig" with {
            image: image,
          } only
        %}
      </div>
    {% else %}
      <div class="m-listing-item{{ variation}}__img-illustration">
        {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
            directory: directory,
            base_class: 'a-icon',
            icon: placeholder_icon,
            size: 'large', 
          } only
        %}
      </div>
    {% endif %}

  <div class="m-listing-item{{ variation }}__content">

    <div class="m-listing-item{{ variation }}__title">
      {% include "@atoms/text/headings/heading.twig" with {
          directory: directory,
          html_element: 'h3',
          appearance: 'h3',
          text: title,
          url: url,          
        } only
      %}
    </div>

    {% if job_titles or instruments %}
      <div class="m-listing-item{{ variation }}__position">
        {% if job_titles and instruments %}
          {{job_titles}}: {{instruments}}
        {% elseif job_titles and not instruments %}
          {{job_titles}}
        {% elseif instruments and not job_titles %}
          {{instruments}}
        {% endif %}
      </div>
    {% endif %}

    {% if areas_specialization %}
    <div class="m-listing-item{{ variation }}__tags">
      {% for item in areas_specialization %}
        
        {{ item }}{% if not loop.last %}{{ ',' }}{% endif %}
      {% endfor %}
    </div>
  {% endif %}
  </div>
</div>
