{# Set default listing class - 'o-listing' #}
{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

{% if storybook_demo %}
  {% set directory = directory %}
{% else %}
  {% set directory =  'themes/cnib' %}
{% endif %}

<div class="m-listing-item{{ variation }}">

  {% if featured == 1 %}
    <div class="m-listing-item{{ variation }}__feature">
      {{'Featured'|t}}
    </div>
  {% endif %}

  {% if date %}
    <div class="m-listing-item{{ variation }}__date">
      {{'Posted about'|t}}&nbsp;{{date}}
    </div>
  {% endif %}

  <div class="m-listing-item{{ variation }}__title">
    {% include "@atoms/text/headings/heading.twig" with {
        directory: directory,
        html_element: 'h2',
        appearance: 'h2',
        text: title,
        url: url
      } only
    %}
  </div>

  {% if location or company %}
    <div class="m-listing-item{{ variation }}__info">
      {{location}}{% if company %}&nbsp;|&nbsp;{{company}}{% endif %}
    </div>
  {% endif %}

</div>
