{# Create a unique ID for each accordion item #}
{% set unique_id = random('1234567890') ~ random('1234567890') ~ random('1234567890') ~ random('1234567890') %}
{% set accordion__panel__id = 'accordion__panel-' ~ unique_id %}
{% set accordion__header__id = 'accordion__header-' ~ unique_id %}
{% set accordion__tooltip__id = 'accordion__tooltip-' ~ unique_id %}

{% if anchor_id %}
  {% set accordion_id = "anchor-" ~ anchor_id|lower|replace({' ':'-', '(':'', ')':''}) %}

  {% if absolute_path %}
    {% set absolute_link = absolute_path ~ '#' ~ accordion_id %}
  {% endif %}

  {% if relative_path %}
    {% set relative_link = relative_path ~ '#' ~ accordion_id %} 
  {% endif %}
{% endif %}

<div{% if accordion_id %} id="{{accordion_id}}"{% endif %} class="m-accordion-item js-accordion-item"  data-accordion-state='collapsed' data-accordion-component='item'>
  
  {# Header #}
  {% if title or subtitle %}
    <div class="m-accordion-item__header-wrapper">
      {# If loggedin user/admin #}
      {% if is_admin == 1 %}
        {# if the absolute or relative links exists  #}
        {% if absolute_link or relative_link %}
          <div class="m-accordion-item__copy-links">
            {% if absolute_link %}

              <div class="m-accordion-item__copy-link">
                <button class="m-accordion-item__copy-btn is-absolute data-trigger" data-template="{{accordion__tooltip__id}}--absolute" type="button">
                  {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                      directory: directory,
                      icon: 'envelope',
                      base_class: 'a-button--icon__icon',
                    } only
                  %}
                </button>

                <div class="visually-hidden" id="{{accordion__tooltip__id}}--absolute">
                  <p>Copy link for email (Full Url)</p>
                </div>

                <span class="u-visually--hidden is-absolute-text">{{absolute_link}}</span>
              </div>              
            {% endif %}

            {% if relative_link %}
              <div class="m-accordion-item__copy-link">
                <button class="m-accordion-item__copy-btn is-relative data-trigger" data-template="{{accordion__tooltip__id}}--relative" type="button">
                  {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                      directory: directory,
                      icon: 'link-simple',
                      base_class: 'a-button--icon__icon',
                    } only
                  %}
                </button>

                <div class="visually-hidden" id="{{accordion__tooltip__id}}--relative">
                  <p>Copy website link (Relative Url)</p>
                </div>

                <span class="u-visually--hidden is-relative-text">{{relative_link}}</span>
              </div>  
            {% endif %}
          </div>
        {% endif %}
      {% endif %}

      {% if title %}
        <h4>
          <button class="m-accordion-item__label toggle js-accordion-item__toggle" aria-expanded="false" id="{{accordion__header__id}}" aria-controls="{{accordion__panel__id}}" >
            {{ title }}

            {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
              directory: directory,
              base_class: 'accordion-item__toggle-plus a-icon',
              icon: 'plus-solid',
              size: 'small',
              } only
            %}

            {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
              directory: directory,
              base_class: 'accordion-item__toggle-minus a-icon',
              icon: 'minus-solid',
              size: 'small',
              } only
            %}
          </button>
        </h4>
      {% endif %}

      {% if subtitle %}
        <span class="m-accordion-item__subtitle">
          {{ subtitle }}
        </span>
      {% endif %}
    </div>
  {% endif %}

  {# Panel  #}
  {% if content %}
    <section class="m-accordion-item__content s-wysiwyg js-accordion-item__panel" data-accordion-component="content" aria-hidden="true" aria-labelledby="{{accordion__header__id}}" id="{{accordion__panel__id}}" >
      {{ content }}
    </section>
  {% endif %}
</div>
