{# By Default Chip is just a text label when there is no variation #}
{% set html_element = html_element|default('button') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %}

{% endif %}

{# Link Variation Eg Tag links to list of items w/ Tag #}
{% if variation == '--link'%}
  <a class="a-chip{{ variation }}" href="{{ url }}"{% if aria_label %} aria-label="{{ aria_label }}"{% endif %}>
    {{ text }}
  </a>

{% elseif variation == '--icon' or variation == '--icon-left' %}
  <{{ html_element }} class="a-chip{{ variation }}" {{ attributes }}{% if aria_label %} aria-label="{{ aria_label }}"{% endif %}>
    {% if icon and variation == '--icon-left' %}
      {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
        directory: directory,
        base_class: 'a-icon',
        icon: icon,
        size: 'xsmall',
        } only
      %}
    {% endif %}

    {{ text }}

    {% if icon and variation != '--icon-left'%}
      {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
        directory: directory,
        base_class: 'a-icon',
        icon: icon,
        size: 'xsmall',
        } only
      %}
    {% endif %}
  </{{ html_element }}>

{# Assumes Basic Div if no variation declared #}
{% else %}
  <div class="a-chip{{ variation }}"{% if aria_label %} aria-label="{{ aria_label }}"{% endif %}>
    {{ text }}
  </div>
{% endif %}
