{% set variation = variation|default('') %}

{% if variation is not empty %}

  {# Add BEM variation '--' prefix if missing #}
  {% if variation starts with '--' %}
    {# Do nothing #}
  {% else %}
    {% set variation = '--' ~ variation %}
  {% endif %} 

{% endif %}

<div class="m-carousel-img-group{{ variation }}">
  
  {% if image_1 %}
    <div class="m-carousel-img-group{{ variation }}__image_1">
      {% include "@molecules/image/image.twig" with {
          image: image_1,
        } only
      %}
    </div>
  {% endif %}

  {% if image_2 %}
    <div class="m-carousel-img-group{{ variation }}__image_2">
      {% include "@molecules/image/image.twig" with {
          image: image_2,
        } only
      %}
    </div>
  {% endif %}

  {% if image_3 %}
    <div class="m-carousel-img-group{{ variation }}__image_3">
      {% include "@molecules/image/image.twig" with {
          image: image_3,
        } only
      %}
    </div>
  {% endif %}

  {% if image_4 %}
    <div class="m-carousel-img-group{{ variation }}__image_4">
      {% include "@molecules/image/image.twig" with {
          image: image_4,
        } only
      %}
    </div>
  {% endif %}
</div>