{% block main_content %}

  {% if page_theme %}
    <div class="{{page_theme}}">
  {% endif %}

  {% block content_single_page %}
    {# Check if there is a banner #}
    {% if hero_banner %}
      {{ hero_banner }}

      {# {% if breadcrumbs is not empty and not is_front %}
        <div class="l-main__breadcrumbs l-section--[12]">
          <div class="l-section__zone-1">
            {{ breadcrumbs }}
          </div>
        </div>
      {% endif %} #}
      {# Else print heading title #}
    {% else %}
      <div class="l-main__header">
        <div class="l-main__header-title">
          {% include "@atoms/text/headings/heading.twig" with {
              html_element: 'h1',
              appearance: 'h1',
              text: title,
              url: link_url,
              id: id,
            } only
          %}
        </div>
      </div>

      {% if breadcrumbs is not empty and not is_front %}
        <div class="l-main__breadcrumbs l-section--[12]">
          <div class="l-section__zone-1">
            {{ breadcrumbs }}
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if menu_priority_plus is not empty %}
      {% spaceless %}
        <div class="l-page__menu-priority-plus" data-sticky>
          {{ menu_priority_plus }}
        </div>
      {% endspaceless %}
    {% endif %}

    {% if messages is not empty or tabs is not empty %}
      <div class="l-main__utility l-section--[12]">
        <div class="l-section__zone-1">
          {{ messages }}
          {{ tabs }}
        </div>
      </div>
    {% endif %}

    {% if moderation %}
      <div class="l-main__moderation">
        {{ moderation }}
      </div>
    {% endif %}

  {# Main Content #}
    {{ content }}
  {% endblock content_single_page %}


  {% if page_theme %}
    </div>
  {% endif %}
  
{% endblock main_content %}

{% block main_suffix %}
  {{ main_suffix }}
  
  {% if cta %}
    {{ cta }}
  {% endif %} 
{% endblock main_suffix %}
