{% embed "@layouts/main/main.twig" %}

  {% block content_single_page %}
    <div class="l-main--people">

      {% if header_variation == 'text' %}
        {% set variation = 'person-text' %}
      {% else %}
        {% set variation = 'person' %}
      {% endif %}

      {% include "@organisms/content-header-person/content-header-person.twig" with {
          directory: directory,
          variation: header_variation, 
          image: image,
          title_prefix: title_prefix,
          title: title,
          new_roles: new_roles,
          title_suffix_faculty: title_suffix_faculty,
          title_suffix_staff: title_suffix_staff,
          title_suffix_library: title_suffix_library,
          email: email,
          phone: phone,
          discovery_url: discovery_url,
          website_url: website_url,
          website_url_is_external: website_url_is_external,
          areas: areas,
          pronunciation: pronunciation,
          prononun: prononun,
          instruments: instruments,

          breadcrumbs: breadcrumbs,
          messages: messages,
          tabs: tabs,
        } only
      %}

      {% if moderation %}
        <div class="l-main__moderation">
          {{ moderation }}
        </div>
      {% endif %}

      {% if education or background or activities or teaching or discovery_url or creative_works or custom_content %}
        <div class="l-main--event__content-wrapper l-section--[8] theme--white-bg l-section-spacing-top--small l-section-spacing-bottom--small">
          <div class="l-section__zone-1 l-flex">
            {% if profile_type == 'default' %}
              {% if education %}
                <div class="l-main--people__education">
                  {{education}}
                </div>
              {% endif %}

              {% if background %}
                <div class="l-main--people__background">
                  {{background}}
                </div>
              {% endif %}

              {% if activities %}
                <div class="l-main--people__activities">
                  {{activities}}
                </div>
              {% endif %}

              {% if teaching %}
                <div class="l-main--people__teaching">
                  {{teaching}}
                </div>
              {% endif %}

              {% if discovery_url or creative_works %}
                <div class="l-main--people__creative_works">
                  {% if creative_works %}
                    {{creative_works}}
                    <br>  
                  {% endif %}

                  {% if discovery_url and not creative_works %}
                    <h2 class="a-heading__h2">Scholarly &amp; Creative Works</h2>
                  {% endif %}

                  {% if discovery_url %}
                    <div class="l-main--people__creative_works-discovery">
                      
                      <a class="l-main--people__creative_works-discovery-link" href="{{discovery_url}}/publications"{% if aria_discovery %} aria-label="{{ aria_discovery }}"{% endif %}>
                        {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                            directory: directory,
                            icon: 'book-bulb',
                          } only 
                        %}
                        {{ 'View on DiscoverResearch'|t }}
                      </a>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            
            {% elseif profile_type == 'custom' %}

              {% if custom_content %}
                <div class="l-main--people__custom_content">
                  {{custom_content}}
                </div>
              {% endif %}

              {% if discovery_url %}
                <div class="l-main--people__creative_works">
                  <h2 class="a-heading__h2">Scholarly &amp; Creative Works</h2>

                  <div class="l-main--people__creative_works-discovery">
                    <a class="l-main--people__creative_works-discovery-link" href="{{discovery_url}}/publications"{% if aria_discovery %} aria-label="{{ aria_discovery }}"{% endif %}>
                      {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                          directory: directory,
                          icon: 'book-bulb',
                        } only 
                      %}
                      {{ 'View on DiscoverResearch'|t }}
                    </a>
                  </div>
                </div>
              {% endif %}
            
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if featured_media %}

        {% if media_display == 'default' %}
          <div class="{% if auto_number_items_media < 1 %}l-section--[8]{% else %}l-section--[12]{% endif %} l-section-wrapper theme--dark-blue-bg l-section-spacing-top--small l-section-spacing-bottom--small">
            
            <div class="l-section__background">
              {# placeholder for background  #}
            </div>
            <div class="l-main--people__media l-section__zone l-section__zone-1 l-flex">
              <div class="l-main--people__media-title">
                {% include "@atoms/text/headings/heading.twig" with {
                    html_element: 'h2',
                    appearance: 'h2',
                    text: 'Featured Media'|t,
                  } only
                %}
              </div>

              {{ featured_media }}
            </div>
          </div>
        {% elseif media_display == 'carousel' %}
          <div class="{% if number_items < 1 %}l-section--[8]{% else %}l-section--[12]{% endif %}  l-section-wrapper theme--dark-blue-bg l-section-spacing-top--small l-section-spacing-bottom--small">
            
            <div class="l-section__background">
              {# placeholder for background  #}
            </div>

            <div class="l-main--people__media l-section__zone l-section__zone-1 l-flex">
              <div class="l-main--people-related__title">
                {% include "@atoms/text/headings/heading.twig" with {
                    html_element: 'h2',
                    appearance: 'h2',
                    text: 'Featured Media'|t,
                  } only
                %}
              </div>

              {% include "@organisms/listing/listing.twig" with {
                  directory: directory,
                  variation: 'media-carousel',
                  listing_items: featured_media,
                  number_items: number_items,
                } only
              %}
            </div>
          </div>
          {# {{ attach_library('utmusic/carousel-media') }} #}

        {% endif %}
      {% endif %}


    </div>
  {% endblock content_single_page %}
  
{% endembed %}
