{% embed "@layouts/main/main.twig" %}

  {% block content_single_page %}
    <div class="l-main--program">

      {% if header_variation == 'text' %}
        {% set variation = 'event-text' %}
      {% else %}
        {% set variation = 'event' %}
      {% endif %}

      {% include "@organisms/content-header-person/content-header-person.twig" with {
          directory: directory,
          variation: header_variation, 
          image: image,
          title_prefix: title_prefix,
          title: title,
          role: role,
          title_suffix: title_suffix,
          email: email,
          phone: phone,
          discovery_url: discovery_url,
          website_url: website_url,
          areas: areas,
          pronunciation: pronunciation,
          prononun: prononun,
          faculty_position: faculty_position,
          staff_position: staff_position,
          instruments: instruments,
        } only
      %}

      {% if messages is not empty or tabs is not empty %}
        <div class="l-main__utility l-section--[12]">
          <div class="l-section__zone-1">
            {{ messages }}
            {{ tabs }}
          </div>
        </div>
      {% endif %}

      {% if moderation %}
        <div class="l-main__moderation">
          {{ moderation }}
        </div>
      {% endif %}

      <div class="l-main--event__content-wrapper l-section--[8] theme--white-bg l-section-spacing-top--small l-section-spacing-bottom--small">
        <div class="l-section__zone-1 l-flex">
          {% if profile_type == 'default' %}
            {% if education %}
              <div class="l-main--program__education">
                {{education}}
              </div>
            {% endif %}

            {% if background %}
              <div class="l-main--program__background">
                {{background}}
              </div>
            {% endif %}

            {% if activities %}
              <div class="l-main--program__activities">
                {{activities}}
              </div>
            {% endif %}

            {% if teaching %}
              <div class="l-main--program__teaching">
                {{teaching}}
              </div>
            {% endif %}

            {% if discovery_url or creative_works %}
              <div class="l-main--program__creative_works">
                {% if creative_works %}
                  {{creative_works}}
                  <br/>  
                {% endif %}

                {% if discovery_url and not creative_works %}
                  <h2 class="a-heading__h2">Scholarly &amp; Creative Works</h2>
                {% endif %}

                {% if discovery_url %}
                  <div class="l-main--program__creative_works-discovery">
                    {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                        directory: directory,
                        icon: 'book-bulb',
                      } only 
                    %}
                    <a class="l-main--program__creative_works-discovery-link" href="{{discovery_url}}/publications"{% if aria_discovery %} aria-label="{{ aria_discovery }}"{% endif %}>View on DiscoveryResearch</a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          
          {% elseif profile_type == 'custom' %}

            {% if custom_content %}
              <div class="l-main--program__custom_content">
                {{custom_content}}
              </div>
            {% endif %}

            {% if discovery_url %}
              <div class="l-main--program__creative_works">
                  <h2 class="a-heading__h2">Scholarly &amp; Creative Works</h2>

                  <div class="l-main--program__creative_works-discovery">
                    {% include "@atoms/icon/icon-sprite/icon-sprite.twig" with {
                        directory: directory,
                        icon: 'book-bulb',
                      } only 
                    %}
                    <a class="l-main--program__creative_works-discovery-link" href="{{discovery_url}}/publications"{% if aria_discovery %} aria-label="{{ aria_discovery }}"{% endif %}>View on DiscoveryResearch</a>
                  </div>
              </div>
            {% endif %}
          
          {% endif %}
        </div>
      </div>



      {% if media_display == 'default' %}
        <div class="l-section--[12] theme--dark-blue-bg l-section-wrapper l-section-spacing-top--small l-section-spacing-bottom--small">
          {% set background_image_path = '/themes/utmusic/images/texture--left-min.png' %}
          
          <div class="l-section__background">
            <img alt="" aria-hidden="true" src='{{ background_image_path}}' />
          </div>
          <div class="l-main--program__media l-section__zone-1 l-flex">
            <div class="l-main--program__media-title">
              {% include "@atoms/text/headings/heading.twig" with {
                  html_element: 'h2',
                  appearance: 'h2',
                  text: 'Featured Media'|t,
                } only
              %}
            </div>

            {{ featured_media }}
          </div>
        </div>
      {% elseif media_display == 'carousel' %}
        <div class="l-section--[12] theme--dark-blue-bg l-section-wrapper l-section-spacing-top--small l-section-spacing-bottom--small">
          {% set background_image_path = '/themes/utmusic/images/texture--left-min.png' %}
          
          <div class="l-section__background">
            <img alt="" aria-hidden="true" src='{{ background_image_path}}' />
          </div>
          <div class="l-main--program__media l-section__zone-1">
            <div class="l-main--event-related__title">
              {% include "@atoms/text/headings/heading.twig" with {
                  html_element: 'h2',
                  appearance: 'h2',
                  text: 'Featured Media'|t,
                } only
              %}
            </div>

            {% include "@organisms/listing/listing.twig" with {
                directory: directory,
                variation: 'media-carousel',
                listing_items: featured_media,
                number_items: number_items,
              } only
            %}
          </div>
        </div>
      {% endif %}


    </div>
  {% endblock content_single_page %}
  
{% endembed %}
